fastapi==0.104.1
uvicorn==0.24.0.post1
pydantic==2.5.2
pydantic-settings==2.10.1
python-multipart==0.0.6
numpy==1.24.4
opencv-python==4.8.1.78
pymilvus==2.2.8
pillow==10.1.0
towhee==1.0.0rc1
retry==0.9.2
python-dotenv==1.0.0